{% extends 'base.html.twig' %}

{% block title %}Recettes{% endblock %}



{% block body %}
<div class="col-md-12 contenu-blanc">

        {% if lesRecettes | length > 1 %}
        <h1>Les <span> {{  lesRecettes | length }}  </span>recettes</h1>
        {{ include('messages.html.twig') }}
        {% endif %}

        {% if lesRecettes | length == 1  %}
        <h1>L'évenement</h1>
        {{ include('messages.html.twig') }}
        {% endif %}

        {% if lesRecettes | length == 0  %}
        <h1>Aucun évenement</h1>
        {{ include('messages.html.twig') }}
        {% endif %}

        <div class="contenu">
            <table class="table table-striped table-advance table-hover">
                <thead>
                <tr class="bg-entete">
                    <th>Nom</th>
                    <th>Durée en (mn)</th>
                    <th>Description</th>
                    <th>Produits</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>

                <!-- formulaire pour ajouter une nouvelle recette-->
                <tr>
                    {{ form_start(formCreation) }}
                        <td class="col-md-3">{{ form_widget(formCreation.nom) }}  {{ form_errors(formCreation.nom) }}</td>
                        <td class="col-md-3">{{ form_widget(formCreation.duree) }}  {{ form_errors(formCreation.duree) }}</td>
                        <td class="col-md-3">{{ form_widget(formCreation.description) }}  {{ form_errors(formCreation.description) }}</td>
                        <td class="col-md-3">{{ form_widget(formCreation.produits) }}  {{ form_errors(formCreation.produits) }}</td>
                        <td class="col-md-3">
                        <button class="btn btn-primary btn-sm" type="submit" formaction="{{ path('recette_ajouter') }}" title="Enregistrer nouvelle recette"><i class="fa fa-save"></i> Enregistrer</button>
                            <button class="btn btn-info btn-sm" type="reset" title="Effacer la saisie"><i class="fa fa-eraser"></i> Annuler </button></td>
                        {# Ceci va générer le champ CSRF #}
                        {{ form_rest(formCreation) }}
                    {{ form_end(formCreation) }}
                </tr>

                {% for key, recette in lesRecettes %}
                    <tr>
                    {% if recette.id != idRecetteModif %}
                            <td>{{ recette.nom }}</td>
                            <td>{{ recette.duree |date('H:i:s')}}</td>
                            <td>{{ recette.description}}</td>
                            <td>
                                {% for key, produit in recette.getProduits() %}
                                    {{ produit.libelle}},
                                {% endfor %}
                                </td>
                            <!-- formulaire pour demander la modification ou la suppression -->
                            <td><form>
                                    <button type="submit" class="btn btn-primary btn-sm" formaction="{{ path('recette_demandermodification', {'id' : recette.id }) }}" title="Modifier"><i class="fa fa-pencil"></i> Modifier</button>
                                    <button class="btn btn-danger btn-sm" type="submit" formaction="{{ path('recette_supprimer', {'id' : recette.id }) }}" title="Supprimer" onclick="return confirm('Voulez-vous vraiment supprimer cette recette ?');"><i class="fa fa-trash-o "></i> Supprimer</button>
                                    <input type = "hidden" name="_token" value="{{ csrf_token('action-item' ~ recette.id) }}">     {#  ~     pour concaténer des chaines en twig #}
                                </form>
                            </td>

                            {% else %}

           <!-- formulaire pour modifier une recette -->
           {{ form_start(formModification) }}
           
           <td>{{ form_widget(formModification.nom) }} {{ form_errors(formModification.nom) }}</td>
           <td>{{ form_widget(formModification.duree) }} {{ form_errors(formModification.duree) }}</td>
           <td>{{ form_widget(formModification.description) }} {{ form_errors(formModification.description) }}</td>
           <td>{{ form_widget(formModification.produits) }} {{ form_errors(formModification.produits) }}</td>
           <td class="col-md-4">
               <button class="btn btn-primary btn-sm" type="submit" formaction="{{ path('recette_modifier', {'id' : recette.id }) }}"  title="Enregistrer"><i class="fa fa-save"></i> Enregistrer</button>
               <button class="btn btn-info btn-sm" type="reset" title="Effacer la saisie"><i class="fa fa-eraser"></i> Effacer</button>
               <button class="btn btn-warning btn-sm" type="submit" formaction="{{ path('app_recette') }}" title="Annuler"><i class="fa fa-undo"></i> Annuler</button>
           </td>
           {# Ceci va générer le champ CSRF #}
           {{ form_rest(formModification) }}
           {{ form_end(formModification) }}
       {% endif %}

                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div> <!--fin div contenu-->
    </div> <!--fin div col-md-6-->
{% endblock %}
