{% extends 'base.html.twig' %}

{% block title %}Races{% endblock %}

{% block body %}
    <div class="col-md-8 contenu-blanc">

        <h1>Les <span> {{  lesRaces | length }}  </span>races</h1>
        {{ include('messages.html.twig') }}
        <div class="contenu">
            <table class="table table-striped table-advance table-hover">
                <thead>
                <tr class="bg-entete">
                    <th>Identifiant</th>
                    <th>Libellé</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>

                <!-- formulaire pour ajouter une nouvelle catégorie-->
                <tr>
                    {{ form_start(formCreation) }}
                    <td class="col-md-1">Nouveau</td>
                    <td class="col-md-6">{{ form_widget(formCreation.libelle) }}  {{ form_errors(formCreation.libelle) }}</td>
                    <td class="col-md-3"><button class="btn btn-primary btn-sm" type="submit" formaction="{{ path('races_ajouter') }}" title="Enregistrer nouvelle race"><i class="fa fa-save"></i> Enregistrer</button>
                        <button class="btn btn-info btn-sm" type="reset" title="Effacer la saisie"><i class="fa fa-eraser"></i> Annuler </button></td>
                    {# Ceci va générer le champ CSRF #}
                    {{ form_rest(formCreation) }}
                    {{ form_end(formCreation) }}
                </tr>


                {% for key, race in lesRaces %}
                    <tr>

                        {% if race.id != idRaceModif %}
                            <td>{{ race.id }}</td>
                            <td>{{ race.libelle }}</td>
                            <!-- formulaire pour demander la modification ou la suppression -->
                            <td><form>
                                    <button type="submit" class="btn btn-primary btn-sm" formaction="{{ path('races_demandermodification', {'id' : race.id }) }}" title="Modifier"><i class="fa fa-pencil"></i> Modifier</button>
                                    <button class="btn btn-danger btn-sm" type="submit" formaction="{{ path('races_supprimer', {'id' : race.id }) }}" title="Supprimer" onclick="return confirm('Voulez-vous vraiment supprimer cette race ?');"><i class="fa fa-trash-o "></i> Supprimer</button>
                                    <input type = "hidden" name="_token" value="{{ csrf_token('action-item' ~ race.id) }}">     {#  ~     pour concaténer des chaines en twig #}
                                </form>
                            </td>

                        {% else %}

                            <!-- formulaire pour modifier une catégorie -->
                            {{ form_start(formModification) }}
                            <td>{{ race.id }}</td>
                            <td>{{ form_widget(formModification.libelle) }} {{ form_errors(formModification.libelle) }}</td>
                            <td class="col-md-4">
                                <button class="btn btn-primary btn-sm" type="submit" formaction="{{ path('races_modifier', {'id' : race.id }) }}"  title="Enregistrer"><i class="fa fa-save"></i> Enregistrer</button>
                                <button class="btn btn-info btn-sm" type="reset" title="Effacer la saisie"><i class="fa fa-eraser"></i> Effacer</button>
                                <button class="btn btn-warning btn-sm" type="submit" formaction="{{ path('races') }}" title="Annuler"><i class="fa fa-undo"></i> Annuler</button>
                            </td>
                            {# Ceci va générer le champ CSRF #}
                            {{ form_rest(formModification) }}
                            {{ form_end(formModification) }}

                        {% endif %}

                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div> <!--fin div contenu-->
    </div> <!--fin div col-md-6-->
{% endblock %}
